<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/product">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/cart">Giỏ hàng của bạn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Kĩ thuật</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Chăm sóc khách hàng</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="card" style="width: 18rem;float: left;margin: 10px">
    <a th:href="@{/product/detail/__${product.id}__}"> <img th:src="" class="card-img-top"
                                                            style="width: 300px;height: 400px"></a>
    <div class="card-body">
        <h5 th:text="${product.name}" class="card-title"></h5>
        <p th:text="${product.description}" class="card-text"></p>
        <h5 th:text="${product.price}" class="card-title"></h5>
        <a th:href="@{/add/__${product.id}__}" class="btn btn-primary">Đặt hàng</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>